#pragma once

#include <iostream>
#include <optional>
#include <string_view>

#include <sysrepo-cpp/Session.hpp>
#include <libyang-cpp/Context.hpp>

namespace sr = sysrepo;
namespace ly = libyang;

namespace {{root_namespace}} {
namespace sub::oper {
{% for cb in oper_callbacks %}
// sysrepo-plugin-generator: Generated operational callback for path {{cb.path}}
sr::ErrorCode {{to_camel_case(cb.sufix)}}OperGetCb(sr::Session session, uint32_t subscriptionId, std::string_view moduleName, std::optional<std::string_view> subXPath, std::optional<std::string_view> requestXPath, uint32_t requestId, std::optional<ly::DataNode>& output);

{% endfor %}
}
}