#include "rpc.hpp"

namespace {{root_namespace}} {
namespace sub::rpc {
{% for cb in rpc_callbacks %}
// sysrepo-plugin-generator: Generated RPC/action callback for path {{cb.path}}
sr::ErrorCode {{to_camel_case(cb.sufix)}}RpcCb(Session session, uint32_t subscriptionId, std::string_view path, const libyang::DataNode input, Event event, uint32_t requestId, libyang::DataNode output) {
    sr::ErrorCode rc = sr::ErrorCode::OK;
    return error;
}

{% endfor %}
}
}