#include "rpc.hpp"

namespace {{root_namespace}} {
namespace sub::rpc {
{% for cb in rpc_callbacks %}
// sysrepo-plugin-generator: Generated RPC/action callback for path {{cb.path}}
sr::ErrorCode {{to_camel_case(cb.sufix)}}RpcCb(sr::Session session, uint32_t subscriptionId, std::string_view path, const ly::DataNode input, sr::Event event, uint32_t requestId, ly::DataNode output) {
    sr::ErrorCode error = sr::ErrorCode::Ok;
    return error;
}

{% endfor %}
}
}