#pragma once

#include <iostream>
#include <optional>
#include <string_view>

#include <sysrepo-cpp/Session.hpp>
#include <libyang-cpp/Context.hpp>

namespace sr = sysrepo;
namespace ly = libyang;

namespace {{root_namespace}} {
namespace sub::rpc {
{% for cb in rpc_callbacks %}
// sysrepo-plugin-generator: Generated RPC/action callback for path {{cb.path}}
sr::ErrorCode {{to_camel_case(cb.sufix)}}RpcCb(sr::Session session, uint32_t subscriptionId, std::string_view path, const ly::DataNode input, sr::Event event, uint32_t requestId, ly::DataNode output);

{% endfor %}
}
}