#ifndef {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_CHANGE_H
#define {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_CHANGE_H

#include <utarray.h>
#include <srpc.h>

{% for node in node_list %}
int {{prefix}}_change_{{to_c_variable(node.name())}}_init(void *priv);
int {{prefix}}_change_{{to_c_variable(node.name())}}(void *priv, sr_session_ctx_t *session, const srpc_change_ctx_t *change_ctx);
void {{prefix}}_change_{{to_c_variable(node.name())}}_free(void *priv);
{% endfor %}

#endif // {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_CHANGE_H