#include "store.h"
{% for node in node_list %}
    {% if node.nodetype() == LyNode.LIST %}

int {{prefix}}_store_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, const UT_array *{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
    {% if node.nodetype() == LyNode.LEAFLIST %}

int {{prefix}}_store_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, const UT_array *{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
    {% if node.nodetype() == LyNode.LEAF %}

int {{prefix}}_store_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, const {{types[node.type().basename()]}}{{" " if types[node.type().basename()][-1:] != "*" else ""}}{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
{% endfor %}