#ifndef {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_OPERATIONAL_H
#define {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_OPERATIONAL_H

#include <sysrepo_types.h>

{% for cb in oper_callbacks %}
int {{plugin_prefix}}_subscription_operational_{{cb.sufix}}(sr_session_ctx_t *session, uint32_t sub_id, const char *module_name, const char *path, const char *request_xpath, uint32_t request_id, struct lyd_node **parent, void *private_data);
{% endfor %}

#endif // {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_OPERATIONAL_H