#include "load.h"
{% for node in node_list %}
    {% if node.nodetype() == LyNode.LIST %}

int {{prefix}}_load_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, UT_array **{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
    {% if node.nodetype() == LyNode.LEAFLIST %}

int {{prefix}}_load_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, UT_array **{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
    {% if node.nodetype() == LyNode.LEAF %}

int {{prefix}}_load_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx, {{types[node.type().basename()]}}{{" " if types[node.type().basename()][-1:] != "*" else ""}}*{{to_c_variable(node.name())}})
{
    int error = 0;
    return error;
}
    {% endif %}
{% endfor %}