#ifndef {{plugin_prefix.upper()}}_PLUGIN_COMMON_H
#define {{plugin_prefix.upper()}}_PLUGIN_COMMON_H

#define PLUGIN_NAME "{{plugin_prefix}}-plugin"

#define BASE_YANG_MODEL "{{module}}"

{% for d in defines %}
#define {{d.name}} {{d.value}}
{% endfor %}

#define ARRAY_SIZE(arr) (sizeof(arr) / sizeof(arr[0]))

#endif // {{plugin_prefix.upper()}}_PLUGIN_COMMON_H