#ifndef {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_RPC_H
#define {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_RPC_H

#include <sysrepo_types.h>

{% for cb in rpc_callbacks %}
int {{plugin_prefix}}_subscription_rpc_{{cb.sufix}}(sr_session_ctx_t *session, uint32_t subscription_id, const char *op_path, const sr_val_t *input, const size_t input_cnt, sr_event_t event, uint32_t request_id, sr_val_t **output, size_t *output_cnt, void *private_data);
{% endfor %}

#endif // {{plugin_prefix.upper()}}_PLUGIN_SUBSCRIPTION_RPC_H